<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAdd(f)" #f="ngForm">
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label>Add a Cryptocurrency</label>
                    <input 
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    ngModel
                    required
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Add</button>
                    <button class="btn btn-danger"  type="button" (click)="onDelete()">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>